* {
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1cc8db;
  font-family: Arial, sans-serif;
}

.counter-box {
  text-align: center;
  background: #d2d4ce;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.btn-container {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  border: 1px solid #1266bb;
  background-color: #6dcf18;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

button:hover {
  background-color: #75d223;
}

p {
  font-size: 1.1rem;
  margin: 5px 0;
}
